{{>layout/header}}

<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>글 번호</th>
            <th>최종 수정일</th>
            <th>댓글 수정하기</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#comments}}
            <tr>
                <td>{{userId}}</td>
                <td>{{content}}</td>
                <td>{{postId}}</td>
                <td>{{modifiedDate}}</td>
                <td><a href="/comments/update/{{commentId}}/{{postId}}" class="btn btn-info">댓글 수정하기</a></td>
            </tr>
        {{/comments}}

        {{^comments}}
            <p>아직 등록된 댓글이 없습니다</p>
            <a href="/posts/{{postId}}/comments/save" class="btn btn-info mb-3">댓글 작성하러가기</a>
            <br/>
        {{/comments}}
        </tbody>
    </table>
</div>

{{>layout/footer}}