{{>layout/header}}


<div class="col-md-12">
    <!-- 목록 출력 영역 -->

    <div class="card">
        <div class="card-header">
            공지합니다
        </div>
        {{#searchList}}
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{content}}</p>
                <p class="card-text"><small class="text-muted">{{lastModifiedAt}}</small></p>
                <a href="/posts/update/{{postId}}" class="btn btn-primary">글 수정하기</a>
                <a href="/posts/{{postId}}/comments" class="btn btn-primary">댓글보기</a>
                <a href="/posts/{{postId}}/comments/save" class="btn btn-primary">댓글등록하기</a>

            </div>
        {{/searchList}}
        {{! Page }}
        <div class="pagination justify-content-center">
            {{#hasPrev}}
                <a href="/posts/search?keyword={{keyword}}&page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"><</a>
            {{/hasPrev}}
            {{^hasPrev}}
                <a href="/posts/search?keyword={{keyword}}&page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"><</a>
            {{/hasPrev}}

            {{#hasNext}}
                <a href="/posts/search?keyword={{keyword}}&page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill">></a>
            {{/hasNext}}
            {{^hasNext}}
                <a href="/posts/search?keyword={{keyword}}&page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled">></a>
            {{/hasNext}}
        </div>

    </div>


</div>

{{>layout/footer}}